# AWS Configuration

In [1]:
import boto3
import sagemaker
import pandas as pd
import numpy as np

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml

In [2]:
region = boto3.Session().region_name
print(region)

us-east-1

In [3]:
role = sagemaker.get_execution_role()
print(role)

arn:aws:iam::767397732163:role/service-role/AmazonSageMaker-ExecutionRole-20250128T080284

# S3 Buckets Setup

In [4]:
s3_client = boto3.client('s3')
bucket_name = 'mlops-assesment-deep'
s3_client.create_bucket(Bucket=bucket_name)

{'ResponseMetadata': {'RequestId': '3ARBRCXC9HZYH91Q',
  'HostId': 'dHBKqFsSk7kXAJz0YAiXlUP0CwKTRnJe1GjOkMek1RoDjpdSlmxXUJWEbVY+EPYwroN/NU3cDyA=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'dHBKqFsSk7kXAJz0YAiXlUP0CwKTRnJe1GjOkMek1RoDjpdSlmxXUJWEbVY+EPYwroN/NU3cDyA=',
   'x-amz-request-id': '3ARBRCXC9HZYH91Q',
   'date': 'Tue, 28 Jan 2025 04:29:17 GMT',
   'location': '/mlops-assesment-deep',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'Location': '/mlops-assesment-deep'}

### defining prefixes for organizing the data

In [5]:
model_dir = f's3://{bucket_name}/models/'
data_dir = f's3://{bucket_name}/data/'
captured_data_dir = f's3://{bucket_name}/captured-data/'

# Variables Setup

In [6]:
model_directory = f's3://{bucket_name}/models/'
data_directory = f's3://{bucket_name}/data/'
model_file = 'model.tar.gz'
train_data = 'train.csv'
test_data = 'test.csv'
baseline_data = 'baseline.csv'  # If required
metadata = 'metadata.json'  # If required

# S3 Authentication

In [7]:
s3_client = boto3.client('s3')
response = s3_client.list_buckets()
print(response['Buckets'])

[{'Name': 'mlops-assesment-deep', 'CreationDate': datetime.datetime(2025, 1, 28, 4, 29, 17, tzinfo=tzlocal())}, {'Name': 'sagemaker-studio-767397732163-ho6x1donhb9', 'CreationDate': datetime.datetime(2025, 1, 28, 2, 32, 40, tzinfo=tzlocal())}, {'Name': 'sagemaker-us-east-1-767397732163', 'CreationDate': datetime.datetime(2025, 1, 28, 2, 32, 43, tzinfo=tzlocal())}]

# Data upload

In [9]:
s3_client.upload_file('train.csv', bucket_name, 'data/train.csv')

In [12]:
s3_client.upload_file('train_2.csv', bucket_name, 'data/train_2.csv')

In [13]:
s3_client.upload_file('test_2.csv', bucket_name, 'data/test2.csv')

# Data Eyeballing

In [11]:
pd.read_csv("train.csv")

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica